---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: flux-system-helm-repositories
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./cluster/prod/flux-system/helm-repositories
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: flux-system-notifications
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./cluster/prod/flux-system/slack-notifications
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
