---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  dependsOn:
  - name: cert-manager
    namespace: cert-manager
  maxHistory: 3
  interval: 1h
  suspend: false
  releaseName: traefik
  chart:
    spec:
      # renovate: registryUrl=https://traefik.github.io/charts
      chart: traefik
      version: 26.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  values:
    image:
      registry: public.ecr.aws
      repository: docker/library/traefik
      tag: 2.10.7
    deployment:
      kind: Deployment
      replicas: 2
    env:
    - name: TZ
      value: America/Chicago
    ingressClass:
      enabled: true
      isDefaultClass: true
      fallbackApiVersion: v1
    ingressRoute:
      dashboard:
        enabled: false
    globalArguments:
    - --global.checknewversion=false
    - --global.sendanonymoususage=false
    additionalArguments:
    - --metrics.prometheus.entrypoint=web
    # - --experimental.plugins.fail2ban.modulename=github.com/tomMoulard/fail2ban
    # - --experimental.plugins.fail2ban.version=v0.6.6
    ports:
      traefik:
        expose: false
        port: 9000
        protocol: TCP
      web:
        expose: true
        exposedPort: 80
        port: 8000
        protocol: TCP
      websecure:
        expose: true
        exposedPort: 443
        port: 8443
        protocol: TCP
    service:
      enabled: true
      type: LoadBalancer
      spec:
        loadBalancerIP: "${TRAEFIK_LB}"
        externalTrafficPolicy: Local
    dnsPolicy: ClusterFirst
    logs:
      general:
        level: WARN
      access:
        enabled: true
    pilot:
      enabled: false
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
              - traefik
          topologyKey: kubernetes.io/hostname
