---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: traefik
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: default-headers
  namespace: traefik
spec:
  headers:
    browserXssFilter: true
    contentTypeNosniff: true
    customRequestHeaders:
      X-Forwarded-Proto: https
    customResponseHeaders:
      server: ""
      x-applicationversion: ""
      x-ua-compatible: ""
      x-robots-tag: none
    frameDeny: true
    customFrameOptionsValue: SAMEORIGIN
    sslRedirect: true
    stsSeconds: 31536000
    stsPreload: true
    forceSTSHeader: true
    referrerPolicy: no-referrer
    isDevelopment: false
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: http-headers
  namespace: traefik
spec:
  headers:
    browserXssFilter: true
    contentTypeNosniff: true
    customResponseHeaders:
      server: ""
      x-applicationversion: ""
      x-ua-compatible: ""
      x-robots-tag: none
    frameDeny: true
    customFrameOptionsValue: SAMEORIGIN
    sslRedirect: false
    stsSeconds: 31536000
    stsPreload: true
    forceSTSHeader: true
    referrerPolicy: no-referrer
    isDevelopment: false
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: default-compress
  namespace: traefik
spec:
  compress: {}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: default-middlewares-chain
  namespace: traefik
spec:
  chain:
    middlewares:
      - name: traefik-sso
      - name: default-headers
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: external-middlewares-chain
  namespace: traefik
spec:
  chain:
    middlewares:
      - name: default-compress
      - name: default-headers
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: int-middlewares-chain
  namespace: traefik
spec:
  chain:
    middlewares:
      - name: default-compress
      - name: http-headers
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: speedtest-buffering
  namespace: traefik
spec:
  buffering:
    maxRequestBodyBytes: 10000000000
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: immich-body-size
  namespace: traefik
spec:
  buffering:
    maxRequestBodyBytes: 0 # Remove body size limit for photo uploads
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: ext-speedtest-middlewares-chain
  namespace: traefik
spec:
  chain:
    middlewares:
      - name: default-headers
      - name: speedtest-buffering
# ---
# apiVersion: traefik.io/v1alpha1
# kind: Middleware
# metadata:
#   name: my-fail2ban
#   namespace: my-namespace
# spec:
#   plugin:
#     fail2ban:
#       logLevel: "INFO"
#       whitelist:
#         ip:
#           - ::1
#           - 127.0.0.1
#           - 192.168.0.0/24
#           - 192.168.10.0/24
#           - 192.168.20.0/24
#           - 192.168.30.0/24
#           - 192.168.90.0/24
#       # blacklist:
#       #   ip:
#       #     - 192.168.0.0/24
#       rules:
#         action: ""
#         actionAbuseipdb: ""
#         backend: ""
#         banaction: ""
#         banactionAllports: ""
#         bantime: 3h
#         chain: ""
#         destemail: ""
#         enabled: "true"
#         fail2banAgent: ""
#         filter: ""
#         findtime: 10m
#         ignorecommand: ""
#         logencoding: UTF-8
#         maxretry: "4"
#         mode: ""
#         mta: ""
#         ports: 0:8000
#         protocol: ""
#         sender: ""
#         urlregexp: ""
#         usedns: ""
