---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  maxHistory: 3
  interval: 10m0s
  suspend: false
  releaseName: traefik
  chart:
    spec:
      # renovate: registryUrl=https://helm.traefik.io/traefik
      chart: traefik
      version: 9.12.3
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  values:
    image:
      repository: traefik
      tag: v2.4.8
      pullPolicy: IfNotPresent
    env:
    - name: TZ
      value: America/Chicago
    installCRDs: true
    ingressClass:
      enabled: true
      isDefaultClass: "true"
    ingressRoute:
      dashboard:
        enabled: false
    globalArguments:
    - --global.checknewversion=false
    - --global.sendanonymoususage=false
    additionalArguments:
    - --metrics.prometheus.entrypoint=web
    ports:
      traefik:
        expose: false
        port: 9000
        protocol: TCP
      web:
        expose: true
        exposedPort: 80
        port: 8000
        protocol: TCP
      websecure:
        expose: true
        exposedPort: 443
        port: 8443
        protocol: TCP
    service:
      enabled: true
      type: LoadBalancer
      spec:
        loadBalancerIP: 192.168.0.15
        externalTrafficPolicy: Local
    dnsPolicy: ClusterFirst
    logs:
      general:
        level: INFO
      access:
        enabled: true
    pilot:
      enabled: false